.Mole_hole {
    width: 100px;
    height: 100px;
    background-image: url(../../assets/WAM_Hole.png);
    background-size: 100px;
    background-repeat: no-repeat;
}

.Mole {
    width: 100px;
    height: 100px;
    background-image: url(../../assets/WAM_Mole.png);
    background-size: 100px;
    background-repeat: no-repeat;
}